<a href="https://colab.research.google.com/github/Balajilp/ML-Techniques-important/blob/main/Variance_Inflation_Factor(VIF).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {'ZomatoFoodRating':[4, 3, 4, 4, 4, 4, 3],
        'SwiggyFoodRating':[8, 5, 7.5, 7, 6, 6, 5],
        'Years_old':[10, 18, 12, 5, 20, 40, 5],
        'location':[1, 2, 2, 5, 3, 12, 1],
        'costForTwo':[1200, 1000, 1300, 600, 400, 200, 300]}
df = pd.DataFrame(data)

In [3]:
df.head()

   ZomatoFoodRating  SwiggyFoodRating  Years_old  location  costForTwo
0                 4               8.0         10         1        1200
1                 3               5.0         18         2        1000
2                 4               7.5         12         2        1300
3                 4               7.0          5         5         600
4                 4               6.0         20         3         400

In [6]:
# library for variance inflation factor
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(dataset):
  vif = pd.DataFrame()
  vif['features'] = dataset.columns
  vif['vif_values'] = [variance_inflation_factor(dataset.values, i) for i in range(dataset.shape[1])]

  return vif

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
features = df.iloc[:, :-1]
features.head()

   ZomatoFoodRating  SwiggyFoodRating  Years_old  location
0                 4               8.0         10         1
1                 3               5.0         18         2
2                 4               7.5         12         2
3                 4               7.0          5         5
4                 4               6.0         20         3

In [9]:
calculate_vif(features)

           features  vif_values
0  ZomatoFoodRating  203.737200
1  SwiggyFoodRating  167.148061
2         Years_old    9.596556
3          location    6.195456

In [14]:
df.corr(method='spearman')

                  ZomatoFoodRating  SwiggyFoodRating  ...  location  costForTwo
ZomatoFoodRating          1.000000          0.805076  ...  0.483046    0.158114
SwiggyFoodRating          0.805076          1.000000  ... -0.037037    0.600099
Years_old                 0.239317         -0.155970  ...  0.522958   -0.252262
location                  0.483046         -0.037037  ...  1.000000   -0.436436
costForTwo                0.158114          0.600099  ... -0.436436    1.000000

[5 rows x 5 columns]

In [15]:
import seaborn as sns

In [17]:
df.drop('ZomatoFoodRating', axis=1, inplace=True)

In [18]:
features_1 = df.iloc[:, :-1]
features_1.head()

   SwiggyFoodRating  Years_old  location
0               8.0         10         1
1               5.0         18         2
2               7.5         12         2
3               7.0          5         5
4               6.0         20         3

In [19]:
calculate_vif(features_1)

           features  vif_values
0  SwiggyFoodRating    2.548228
1         Years_old    7.817709
2          location    5.977085

In [20]:
df['product'] = df['SwiggyFoodRating']*df['Years_old']

In [21]:
df.head()

   SwiggyFoodRating  Years_old  location  costForTwo  product
0               8.0         10         1        1200     80.0
1               5.0         18         2        1000     90.0
2               7.5         12         2        1300     90.0
3               7.0          5         5         600     35.0
4               6.0         20         3         400    120.0

In [23]:
df.drop('Years_old', axis=1, inplace=True)

In [24]:
features_2 = df.drop('costForTwo', axis=1)

In [25]:
calculate_vif(features_2)

           features  vif_values
0  SwiggyFoodRating    3.002786
1          location    6.072652
2           product    9.105365

In [26]:
df.drop('SwiggyFoodRating', axis=1, inplace=True)

In [28]:
df.head()

   location  costForTwo  product
0         1        1200     80.0
1         2        1000     90.0
2         2        1300     90.0
3         5         600     35.0
4         3         400    120.0

In [29]:
features_4 = df.drop('costForTwo', axis=1)
calculate_vif(features_4)

   features  vif_values
0  location     5.89065
1   product     5.89065